@import url(https://fonts.googleapis.com/css?family=opensans:500);
body{
                background: #e2f0fa;
                color:#fff;
                font-family: 'Open Sans', sans-serif;
                max-height:700px;
                overflow: hidden;
            }

            ._404{
                font-size: 220px;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 250px;
                letter-spacing: 15px;
            }


            .btn{
              color: #fff;
              background-color: #007bff;
              display: inline-block;
              font-weight: 400;
              font-family: 'Quicksand', sans-serif;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
              margin-top: 4%;
            }

/* Mobile Styles */
@media only screen and (max-width: 1202px) {
    .menu-mobile{
      display:inline;
          padding-top: 2%;
    }
    .header-container{
    text-align: center !important;
    }
    .menu-desktop{
      display: none;
    }
    .nav-link-mobile-cascade{
      font-family: 'Josefin Sans', sans-serif;
      font-size: 17px;
      color: #FEFEFA;
    }
}
